# psynet@git+https://gitlab.com/PsyNetDev/PsyNet@master#egg=psynet
numpy
pandas
markupsafe
rq==2.8.0

# dallinger==12.1.2
# psynet@git+https://gitlab.com/PsyNetDev/PsyNet@1264d9ed58af0379e9990c839f2e9a613d1678e4#egg=psynet

# dallinger==12.1.2
# psynet@git+https://gitlab.com/PsyNetDev/PsyNet@f5a893f1dae8466e84442ebe85845a0ea615b7bf#egg=psynet

# psynet@git+https://gitlab.com/PsyNetDev/PsyNet.git@f1172454cb0656a135d3307585b29c7d8d76a386#egg=psynet
# dallinger==12.2.0

dallinger==12.2.0
psynet@git+https://gitlab.com/PsyNetDev/PsyNet@ef1d87449a01910ae8f6d0d3c93ee8caf4555a98#egg=psynet