{% macro scores(config) %}

<style>

    .rectangle {
        width: 600px;          /* match tabletop width from earlier pages */
        min-height: 350px;     /* ensures outer frame larger than content */
        background: #ffffff;
        padding: 60px 40px;
        position: relative;
    }

    .timer-container {
        position: fixed;
        top: 20px;
        right: 20px;
        background: white;
        padding: 12px 20px;
        border-radius: 12px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.15);
        font-size: 18px;
        font-weight: bold;
    }

    .statement {
        margin-bottom: 10px;
    }

    .mid_title {
        font-weight: bold;
        margin: 30px 0 15px 0;
    }

    .score-row {
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
    }

    .label {

    }

    .score {
        margin-top: 10px;
    }

</style>

<div class="rectangle">

    <!-- CLOCK -->
    <div class="timer-container" id="timer">00:00</div>

    <!-- TEXT -->

    <div class="statement">
        {{ config.text }}
    </div>

    <div class="mid_title">
        Accumulated scores
    </div>

    <!-- SCORES -->

    <div class="score-row">

        <div>
            <div class="label">Me</div>
            <div class="score">{{ config.my_score }}</div>
        </div>

        <div>
            <div class="label">Partner</div>
            <div class="score">{{ config.partner_score }}</div>
        </div>

    </div>

</div>


<script>
    let timeRemaining = {{ config.timeoutSeconds }};

    psynet.trial.onEvent("trialFinished", function() {
        if (loop) {
            psynet.trial.restart();
        }
    });

    function updateTimer() {
        let minutes = Math.floor(timeRemaining / 60);
        let seconds = timeRemaining % 60;

        seconds = seconds < 10 ? "0" + seconds : seconds;

        document.getElementById("timer").textContent =
            "Time left: " + minutes + ":" + seconds;

        if (timeRemaining > 0) {
            timeRemaining--;
        } else {
            clearInterval(timerInterval);
            document.getElementById("timer").textContent = "Time's up!";
            const timeoutAnswer = "{{ config.timeoutAnswer }}";
            psynet.nextPage(timeoutAnswer);
        }
    }

    updateTimer();
    let timerInterval = setInterval(updateTimer, 1000);

</script>
{% endmacro %}